body {
    background-color: rgb(220,220,220);
    margin: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: felx;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 3rem;
    border-radius: 1rem;
    border: 1px solid whitesmoke;
    display: felx;
    justify-content: center;
    align-items: center;
}

#backgroundcontainer {
    background-color: whitesmoke;
}

#generatecontainer {
    background-color: white;
    padding: 3rem;
}

h1 {
    text-align: center;
    margin: 0;

}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

#passworddisply {
    height: 80px;
    width: 600px;
    position: absolute;
    border-style: dotted;
    display: flex;
    margin: 0em;
    justify-content: right;
    align-items: center;
    text-align: center;
    word-break: break-all;
}

#sliderbar {
    margin-top: 3em;
}

#slider {
    width: 100%;
}

#length {
    margin: 0em;
    justify-content: right;
    align-items: center;
    text-align: center;
    color: lightsteelblue;
}

#bnt {
    justify-content: space-between;
    position: relative;

}

#generatebutton {
    background-color: brown;
    color: white;
    border: none;
}
#copybutton {
    background-color: lightgray;
    color: white;
    border: none;
}